<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% css_asset_tag global %}
- /_assets/css/bootstrap/bootstrap.less
- /_assets/css/bootstrap/responsive.less
- /_assets/css/base.less
- /_assets/css/syntax.less
{% endcss_asset_tag %}
    <title>mattjmorrison.com</title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">mattjmorrison.com</a>
        <ul class="nav pull-right" id="top-nav">
            <li>
                <iframe src="http://ghbtns.com/github-btn.html?user=mattjmorrison&repo=mattjmorrison.github.com&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <div>
        <img src="http://www.gravatar.com/avatar/fef0c23e28423a81e227ac336953e2d7?s=250" />
      </div>
      <div id="github-commits"></div>
      <a class="twitter-timeline" href="https://twitter.com/mattjmorrison" data-widget-id="317130887236034560">Tweets by @mattjmorrison</a>
    </div>
    <div class="span9">
      {{ content }}
      {% if page.comments %}
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% javascript_asset_tag global %}
- /_assets/js/twitter.js
- /_assets/js/github.coffee
- /_assets/js/disqus.js
{% endjavascript_asset_tag %}
</body>
</html>
